.root {
  display: 'flex';
  flex-Direction: 'column';
  min-Height: '100vh';
}
.appBar {
  z-Index: 1000
}
.content {
  flex-Grow: 1;
  padding: '20px';
}
.footer {
  margin-Top: 'auto';
}
.navbar {
  display: 'flex';
  justify-Content: 'space-between';
  padding: '10px 20px';
}
nav, Link {
  margin-Right: '20px';
}